name: main
on: 
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  backend_integration:
    uses: ./.github/workflows/backend_integration.yml
    secrets:
      DATABASE_NAME: ${{ secrets.DATABASE_NAME }}
      DATABASE_URL: ${{ secrets.DATABASE_URL }}
  
  
  backend_deployment:
    uses: ./.github/workflows/backend_deployment.yml
    needs: backend_integration
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
      LAMBDA_FUNCTION_NAME: ${{ secrets.LAMBDA_FUNCTION_NAME }}
      BUCKET_NAME: ${{ secrets.BUCKET_NAME }}
  
  
  
       
  notification_job:
    uses: ./.github/workflows/notifier.yml
    needs: backend_deployment
    secrets:
      TELEGRAM_TO: ${{ secrets.TELEGRAM_TO }}
      TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
    
  